*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
.wrapper{
  display: flex;
  al
}
.sidebar{
    width: 137.2px;
    height: 480px;
    background-color: #5A61ED;
    display: block;
    position: relative;
}
.sidebar__title{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top:296.02px;
  right: 5.7px;
  font-size: 49px;
  font-weight: 400;
  line-height: 63.41px;
  color: 
  #FFFFFF;
  white-space:nowrap;
  }
  .main{
    width: 527.8px;
    height:480px;
    background-color: bisque;
  }